button {
    background-color: red;
}



.container {
    margin-top: 10px;
}

hr { 
    background-color: red; 
    height: 10px; 
    border: 0; 
    opacity: 1; }

#buttons {
    padding-top: 5px;
    padding-left: 10px;
}
.buttons {
    color: aqua;
    background-color: blue;
}

#MainImage {
    border-width: 5px !important;
    border-style: solid;
    border-color: red !important;
}

.btn btn-danger btn-secondary dropdown-toggle m-1 {
    
}